
body { 
 background-color: black;
 color: #fff;
 font-family: 'Open Sans', sans-serif;
}


#container {
    width: 960px;
    margin: auto;
    position: relative;
 }

 .button-closed {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    margin-left: 10px;
    border-radius: 50%;
 }

 .image-fluxo {
    margin: 0 auto;
    display: table;
    width: 100%;
    
 }
 .image-fluxo img {
    width: 100%;
 }
 .inner-container {
    margin-top: -640px;
     
 }
 .logo {
    
 }

 .logo img{
    width: 300px;
    height: 300px; 
 }


 .buttons-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: -50px;
 }

 .buttons-left {
    display: flex;
    align-items: center;
 }

 .button-play {
    background-color: white;
    height: 45px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}


.button-play  svg {
    margin-right: 10px;
 }
 
.button-circle {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.7);
    margin-left: 10px;
    border-radius: 50%;
}

.content-text {
    background: #1e1e1e;
    display: inline-block;
    width: 100%;
    margin-top: 143px;
    
}

.content-text .inner-text {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-text .column-left {
    width: 500px;
}

.content-text .column-right {

    width: 340px;
}

.color-grey{
    color:darkgrey
}
.color-green {
    color: green;
}

.content-text .column-left p {
    display: flex;
    align-items: center;
}

.text-1 .greenText {
    margin-right: 5px;
}


.text-1 .hd {
    border: 1px solid #fff;
    font-size: 10px;
    margin-left: 10px;
    padding: 1px 5px;
    border-radius: 2px;
}


.imageL {
    width: 32px;
    height: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.imagetop1{
    width: 24px;
    height: 24px;
    margin-right: 10px;    
}

